body {
    margin: 0;
}
.title-bar {
    background: rgb(71, 70, 70);
    color: white;
    padding: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    -webkit-app-region: drag;
}

.close-button {
    background: transparent;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}